@import '../../../_variables.scss';

.adult-hero {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/assets/images/adult-services-hero.jpeg');
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media (max-width: 768px) {
    background-position: center 40%;
    background-attachment: scroll;
  }
}
