@import '../../_variables.scss';

.about-hero {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/assets/images/about-hero.png');
  background-size: 70%;
  background-position: 100% 30%;
  background-repeat: no-repeat;
  background-attachment: scroll;

  @media (max-width: 1600px) {
  background-position: center 30%;
  background-attachment: scroll;
  background-size: 100%;
  }

  @media (max-width: 1440px) {
    background-position: center 40%;
    background-attachment: scroll;
    background-size: 110%;
  }

  @media (max-width: 768px) {
    background-size: 130%;
  }
}

.about-list {
    font-size: 1.25rem;
}

.list-bold {
    color: $text-dark-purple;
}
