.about-hero {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/assets/images/about-hero.png');
  background-size: 60%;
  background-position: 100% 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;


  @media (max-width: 1199px) {
    background-position: center 40%;
    background-attachment: scroll;
    background-size: 110%;
  }

  @media (max-width: 768px) {
    background-size: 130%;
  }
}
