@import '../../../_variables.scss';

.evaluations-hero {
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url('/assets/images/Evaluations-hero.jpeg');
  background-size: cover;
  background-position: center 10%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  @media (max-width: 768px) {
    background-attachment: scroll;
    background-position: center;
  }
}


.evaluation-list {
    color: $text-dark-purple;
}