.simple-practice-hero {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/assets/images/services-bg.jpg'); // Fallback for now
  background-size: cover;
  background-position: center 40%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  @media (max-width: 768px) {
    background-attachment: scroll;
    background-position: center;
  }
}

.opacity-50 {
  opacity: 0.5;
  text-decoration: line-through;
}

.rounded-bottom-start {
  border-bottom-left-radius: 12px;
}
