@import '../../_variables.scss';

.services-hero {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/assets/images/services-hero.jpeg');
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-attachment: scroll;

  @media (max-width: 768px) {
    background-position: center 40%;
    background-attachment: scroll;
  }
}

