$primary-blue: #6c98c1;
$secondary-blue: #69779b;
$dark-blue: #605e81;
$dark-blue-home: #34587a;
$accent-color: #4A96FF;
$accent-color-purple: #7471b7;
$text-dark-purple: #8583c0;
$footer-blue: #6288a8;
$footer-dark: #557591;
$text-blue: #69779b;
$light-bg: #f8f9fa;
$white-bg: #ffffff;
$header-height: 80px;
