$primary-blue: #6c98c1;
$secondary-blue: #a3c4dc;
$dark-blue: #5d7e9d;
$dark-blue-home: #34587a;
$accent-color: #4A96FF;
$accent-color-purple: #7471b7;
$text-dark-purple: #555299;
$footer-blue: #6288a8;
$footer-dark: #557591;
$text-grey: #666;
$light-bg: #f8f9fa;
$header-height: 80px;
